<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="col-md-6">
      <h1>Register</h1><hr>
      <form class="form">
        <input type="email" ng-model='ctrl.registerCreds.email' name="email" placeholder='Email' class='form form-control' value=""><br>
        <input type="text" ng-model='ctrl.registerCreds.username' placeholder='Username' class='form form-control' name="username" value=""><br>
        <input type="password" ng-model='ctrl.registerCreds.password' placeholder='Password' class='form form-control' name="username" value=""><br>
        <input type="submit" ng-click='register.register()' name="submit" value="Register" class='btn btn-success'>
      </form>

</div>
<div class="col-md-6">
      <h1>Login</h1><hr>
        <form class="form" ng-submit='ctrl.login()'>
          <input type="text" placeholder='Username' class='form form-control' name="username" value=""><br>
          <input type="password" placeholder='Password' class='form form-control' name="username" value=""><br>
          <input type="submit" name="submit" value="Login" class='btn btn-success'>
        </form>
</div>
</div>
